body {
    padding-top: 50px;
}

.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    animation-duration: 0.6s;
}

.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
}

.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
}

.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
}

.modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
}

.modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}